.html,body{
    background: #ffffff;;
}

@font-face {
    font-family: "BalooBhai2";
    src: url("../fonts/Baloo_Bhai_2/BalooBhai2-Regular.ttf");
}

.imagen{

    height: 100%;
    width: 100% ;
    align-content: center;
    background: #ffffff !important;
}
.presentacion{
    font-family: "BalooBhai2";
    font-size: 50vw;
    height: 100%;
    width: 100% ;
    align-content: right;
    margin-top: -25vw;
    margin-left: 43vw;
}